{
  "extends": [
    "@react-native-community",
    "plugin:@typescript-eslint/recommended",
    "plugin:import/typescript",
    "prettier"
  ],
  "plugins": ["import"],
  "rules": {
    "@typescript-eslint/ban-ts-comment": 2,
    "@typescript-eslint/consistent-type-imports": 2,
    "@typescript-eslint/explicit-module-boundary-types": 0,
    "@typescript-eslint/indent": 0,
    "@typescript-eslint/no-explicit-any": 2,
    "@typescript-eslint/no-shadow": ["error"],
    "@typescript-eslint/no-unused-vars": "off",
    "camelcase": 2,
    "comma-dangle": 0,
    "import/default": 0,
    "import/extensions": ["error", "never", { "svg": "always" }],
    "import/named": 0,
    "import/namespace": 0,
    "import/no-anonymous-default-export": 2,
    "import/no-cycle": 0,
    "import/no-deprecated": 0,
    "import/no-duplicates": 2,
    "import/no-extraneous-dependencies": 2,
    "import/no-named-as-default-member": 0,
    "import/no-named-as-default": 0,
    "import/no-unused-modules": 0,
    "import/no-useless-path-segments": 2,
    "import/order": ["error", { "newlines-between": "always" }],
    "import/prefer-default-export": 0,
    "jest/no-identical-title": 2,
    "jest/valid-expect": 2,
    "max-len": ["error", 120],
    "no-nested-ternary": 2,
    "no-shadow": "off",
    "prefer-destructuring": 2,
    "quotes": ["error", "double", { "avoidEscape": true }],
    "react-hooks/exhaustive-deps": ["error", { "additionalHooks": "(useMemoOne)" }],
    "react-hooks/rules-of-hooks": 2,
    "react-native/no-color-literals": 0,
    "react-native/no-inline-styles": 0,
    "react-native/no-raw-text": 0,
    "react-native/no-unused-styles": 2,
    "react-native/split-platform-components": 2,
    "react/jsx-filename-extension": ["error", { "extensions": [".tsx"] }]
  }
}
